/*----style globale*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* === Correctifs responsive ajoutés === */
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #f5f5f5;
}
section {
  padding: 20px 15px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
button,
li {
  cursor: pointer;
}

.openbtn,
.closebtn {
  display: none;
}

/*---- home section ------*/
.home {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url(image/hero-depann93.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  margin-bottom: 230px;
  width: 100%;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 200px;
  height: 70px;
  object-fit: cover;
  margin-left: 20px;
  border-radius: 4px;
}

.links {
  display: flex;
}
.links li {
  margin: 20px;
}

/*--------menu Navigation-----------*/
.links li ul {
  position: absolute;
}
.links li ul {
  display: none;
}
.links li:hover ul {
  display: block;
}
.links li a {
  color: #ffff;
  position: relative;
}
.links li a:after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -5px;
  background-color: #f9ad4a;
  height: 4px;
  width: 0;
  border-radius: 4px;
  transition: 0.5s;
}
.links li a:hover:after {
  width: 100%;
}
/*---home_page_content-------*/
.home_page_content {
  position: absolute;
  bottom: 20px;
}
.home_page_content span {
  display: flex;
  align-items: center;
}
.home_page_content span .img_icon {
  margin-right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.home_page_content p {
  color: #b5b5b5;
}
.home_page_content h1 {
  margin: 20px 0;
  font-size: 50px;
  color: #fff;
  font-weight: bold;
  line-height: 60px;
}
.home_page_content .text {
  color: #b5b5b5;
  margin-bottom: 20px;
}
.home_page_content .text_tel {
  color: #f9ad4a;
  line-height: 20px;
}
/*-----le Botton----*/
.white_btn {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 20px;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 30px;
  transition: 0.5s;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}
.white_btn:hover {
  background-color: #fff;
  color: #000;
}
.white_btn i {
  margin-left: 20px;
}
.white_btn a {
  color: #fff;
}
.white_btn a:hover {
  color: #000;
}
/* image_box */

.image_box {
  position: absolute;
  bottom: -150px;
  right: 10%;
}

.image_box img {
  border-radius: 6px;
  width: 500px;
  height: 400px;
  object-fit: cover;
  box-shadow: 0 32px 80px -32px rgba(0, 0, 0.24);
}
.image_box p {
  margin-top: 20px;
  text-align: right;
  font-weight: bold;
}
.image_box i {
  color: #f9ad4a;
  margin-right: 15px;
}

/*------text_section------- */
.text_section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  position: relative;
}
.text_section p {
  position: absolute;
  font-size: 250px;
  font-family: "Anton", sans-serif;
  color: #f1f1f1;
  z-index: -10;
  line-height: 270px;
  text-transform: uppercase;
}
.text_section div {
  width: 100%;
  height: 55vh;
  background-color: #000;
  box-shadow: 0 32px 80px -32px rgba(0, 0, 0.24);
  border-radius: 6px;
  padding: 50px;
}
.bloc-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bloc-container h2 {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}
.bloc-container span {
  font-size: 17px;
  color: #f9ad4a;
  text-transform: uppercase;
}
.bloc-container .color-span {
  color: #999;
}
.bloc-container a {
  color: #000;
  font-size: 18px;
}
.bloc-container div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 0;
}
.btn-contact {
  background-color: #f9ad4a;
}
.btn-contact:hover {
  background-color: #fff;
  color: #000;
}
.orange_dark_btn {
  color: #000;
  border: 1px solid #000;
  background-color: #f9ad4a;
}
.orange_dark_btn:hover {
  background-color: #fff;
  color: #000;
}

.text_section h2 {
  font-size: 30px;
}

/*--------- owner_section --------------*/
/* Section owner - Desktop */
.owner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin: 70px auto;
  max-width: 1200px;
  padding: 0 20px;
}

.owner .image_box_owner {
  flex: 1 1 50%;
}

.owner .image_box_owner img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.owner .content_box {
  flex: 1 1 50%;
  max-width: 500px;
  margin: auto;
}

.image_box_owner p {
  margin-top: 10px;
  font-weight: bold;
}
.image_box_owner i {
  color: #f9ad4a;
  margin-right: 15px;
}

.big_title {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 2px;
  position: relative;
  margin-bottom: 15px;
}

.content_box p {
  margin-top: 20px;
}
.content_box button {
  margin-top: 30px;
}
.dark_btn {
  color: #000;
  border: 1px solid #000;
}

.dark_btn:hover {
  background-color: #000;
  color: #fff;
}
.dark_btn a {
  color: #000;
}
.dark_btn a:hover {
  color: #fff;
}
/*  background  */
.background {
  height: 80vh;
  width: 100%;
  position: relative;
  margin-bottom: 200px;
}
.background .image {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -100;
  animation: infinite animation1;
  animation-duration: 50s;
}
@keyframes animation1 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(2);
  }
}
.text-box {
  position: absolute;
  right: 15%;
  bottom: -100px;
  z-index: 10;
  width: 450px;
  background-color: #fff;
  box-shadow: 0 32px 80px -32px rgba(0, 0, 0.24);
  padding: 45px;
  border-radius: 6px;
}
.text-box span {
  font-weight: bold;
}
.text-box h3 {
  margin: 15px 0;
  font-weight: bold;
  font-size: 30px;
}
.text-box p {
  margin-bottom: 25px;
}
.text-box h6 {
  font-size: 14px;
  margin: 15px 0;
}
.text-box i {
  margin-right: 10px;
  color: #f9ad4a;
}
.text-box button {
  margin-top: 45px;
}
.text-box button i {
  color: #000;
}
/* big */
.big {
  margin: 150px 0;
  margin-bottom: 20px;
}
.big p {
  font-size: 290px;
  line-height: 240px;
}
.big h2 {
  font-size: 60px;
}

/*section service*/
.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 50px auto;
  padding: 0 20px;
}
.services h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem;
}
.services-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 colonnes */
  gap: 20px;
}
.service-box {
  background-color: #fbfffd;
  box-shadow: 0 32px 80px -32px rgba(0, 0, 0.24);
  border-radius: 6px;
  padding: 10px;
  text-align: center;
}

.service-box img {
  height: 180px;
  width: 100%;
  object-fit: cover;
  border-radius: 6px 6px 0 0;
}
.services-container h3 {
  font-size: 18px;
  margin: 10px 0;
}
.service-box p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 10px;
}
.service-box a {
  font-size: 16px;
  font-weight: bold;
  color: #f9ad4a;
}

/*-------- contact section --------*/
.contact {
  display: flex;
  justify-content: space-between;
  margin: 120px 0;
  width: 100%;
}
.left,
.right {
  width: 48%;
}

.left .text {
  margin-bottom: 15px;
}
.phone-contact {
  display: flex;
  flex-direction: column;
}
.phone-contact i {
  margin-right: 30px;
  font-size: 25px;
  color: #f9ad4a;
}
.bloc-contact a {
  color: #000;
  font-size: 25px;
  font-weight: bold;
}
.phone-contact .text {
  color: #555;
  margin-top: 10px;
  margin-left: 60px;
}
.home_page-title-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}
.home_page-title-contact h1 {
  color: #fff;
  font-size: 3rem;
  margin-bottom: 15px;
}
.home_page-title-contact p {
  color: #fff;
  font-size: 1rem;
}
.contact-image {
  text-align: center;
}
/*--formulaire--*/
.right {
  padding: 20px;
  border-top: 2px solid #f9ad4a;
  border-bottom: 2px solid #f9ad4a;
}
.right h2 {
  margin-bottom: 30px;
  font-size: 25px;
  text-align: center;
}
input:not(input[type="submit"]),
textarea {
  border: none;
  border-bottom: 2px solid #f9ad4a;
  resize: none;
  outline: none;
  width: 90%;
  margin-bottom: 20px;
  font-size: 16px;
  background: #f5f5f5;
}

label {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 20px;
}
.form-top {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
}
.form-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form-left > div * {
  display: block;
}
.form-right * {
  display: block;
}
#message {
  margin-bottom: 20px;
}
.form-bottom input[type="submit"] {
  background-color: #f9ad4a;
  border: none;
  border-radius: 10px;
  padding: 8px 15px;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0.5);
  margin-bottom: 50px;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}
.form-bottom input[type="submit"]:hover {
  transform: translateY(-5px);
}
/*--formulaire--*/

/*----Footer----------*/

footer {
  background: #000;
  padding-top: 50px;
  color: #fff;
}
.container {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}
.footer-content {
  width: 33.3%;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}
.logo-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.logo-footer img {
  max-width: 80px;
}

.footer-content h3 {
  margin-top: 20px;
  font-size: 20px;
  margin-bottom: 15px;
  text-align: center;
}
.footer-content p {
  width: 250px;
  margin: auto;
  padding: 7px;
  color: #999;
}
.footer-content ul {
  text-align: center;
}
.list {
  padding: 0;
}
.list li {
  width: auto;
  text-align: center;
  list-style-type: none;
  padding: 7px;
  position: relative;
  color: #999;
}
.list li::before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 100%;
  width: 0;
  height: 2px;
  background: #f9ad4a;
  transition: 0.5s;
}
.list li:hover::before {
  width: 70px;
}
.social-icons {
  text-align: center;
  padding: 0;
}
.social-icons li {
  display: inline-block;
  text-align: center;
  padding: 5px;
}
.social-icons i {
  color: #999;
  font-size: 25px;
}
.footer-content li a:hover {
  color: #f9ad4a;
}
.social-icons i:hover {
  color: #f9ad4a;
}
.bottom-bar {
  background: #f9ad4a;
  color: #000;
  text-align: center;
  padding: 10px;
  font-weight: 500;
}
.visually-hidden {
  visibility: hidden;
}

/*----- tous les pages ----------*/
/*----- page service -------*/
.flex-button {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.btn-contact-color a {
  color: #fff;
}
.btn-contact-color:hover a {
  color: #000;
}

/*page remplacement serrure*/
.container-box-two h2 {
  font-size: 30px;
  margin-bottom: 10px;
}
#padding-box {
  padding-top: 80px;
}
/*page solution de securisation*/
.container-securite {
  margin-bottom: 30px;
}
#home-margin-botom {
  margin-bottom: 20px;
}
/*------ page services/index.html ----------*/
/*------ section services/serrurier ----------*/
.serrur {
  display: flex;
  flex-direction: row-reverse;
}
/*--  modele serrurerier section --*/
/*------ section services/nos serrures ----------*/
.row-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 colonnes sur PC */
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}
.row-section .image-model {
  background: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}
.row-section .image-model:hover {
  transform: translateY(-5px);
}
.image-model img {
  width: 270px;
  height: 270px;
  object-fit: cover;
}
/*-----pages rideaux métaliques------------*/

.color-text .text {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
}
.content-rideu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
}
.content-rideu div {
  height: 70vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.image1,
.image2 {
  width: 45%;
  margin: 0 30px;
}

.row-content img {
  width: 600px;
  height: 400px;
}
.content-rideu p {
  margin: 40px 10px;
}
.content-rideu p span {
  font-weight: bold;
}

/* page projets  et voulet-motorisé */
.long-text {
  display: block;
  align-items: center;
  justify-content: center;
}
.long-text h1 {
  font-size: 30px;

  margin-bottom: 30px;
}
.long-text h2 {
  font-size: 25px;
  color: #000;
  font-weight: bold;
  margin-bottom: 40px;
  margin-top: 40px;
}
.long-text p {
  color: #000;
  line-height: 30px;
}

/* page volet roulant*/
.object-container {
  width: 45%;
  height: 500px;
}
.small_title {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 2px;
  position: relative;
  margin-bottom: 15px;
}

.background_text-box {
  position: absolute;
  bottom: 30px;
  z-index: 10;
  width: 100%;
  padding: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.background_text-box span {
  font-size: 55px;
  color: #f9ad4a;
  font-weight: 700;
}
.background_text-box h1 {
  font-size: 55px;
  font-weight: 700;
}
.background_text-box p {
  font-size: 16px;
  font-weight: 700;
}
/*  page volet roulant motorise*/
/*  background  */
.background-volet {
  height: 40vh;
  width: 100%;
  position: relative;
}
.background-volet .image {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.background-volet img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -100;
  animation: infinite animation1;
  animation-duration: 50s;
}

.background_text-box h1 {
  font-size: 40px;
  text-align: center;
}
/* Responsive */
@media screen and (max-width: 1023px) {
  body {
    transition: margin-left 0.5s;
  }
  section {
    padding: 20px;
  }
  .home {
    min-height: 50vh;
    margin: 0;
  }
  .logo {
    width: 180px;
    height: 45px;
  }
  .home_page_content {
    margin-top: 150px;
    position: unset;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home_page_content .title {
    font-size: 25px;
    line-height: 50px;
  }

  .image_box {
    margin-top: 50px;
    position: unset;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .image_box img {
    width: 400px;
  }
  /* boutton menu humburger*/
  .openbtn,
  .closebtn {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    border-radius: 6px;
    background-color: #f9ad4a;
    border: 0;
    color: #000;
    outline: none;
    font-weight: bold;
    letter-spacing: 2px;
  }
  .closebtn {
    display: unset;
    position: absolute;
    top: 28px;
    right: 25px;
  }
  /* navbar */
  .links {
    background-color: #1a1a1a;
    height: 50%;
    width: 0%;
    position: absolute;
    overflow: hidden;
    flex-direction: column;
    text-align: center;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    transition: 0.5s;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* section text */
  .text_section {
    margin: 0;
  }
  .text_section p {
    font-size: 90px;
  }
  .text_section h2 {
    font-size: 20px;
  }
  .owner {
    flex-direction: column;
    height: fit-content;
    margin: 0;
  }
  .image_box_owner {
    margin-bottom: 30px;
  }

  .content_box .big_title {
    font-size: 22px;
  }
  /*---background-------*/
  .background {
    height: 50vh; /* moins haut sur mobile */
    margin-bottom: 170px; /* réduit l’espace en bas */
  }
  .background img {
    object-fit: cover; /* garde le cadrage */
  }

  .orange_dark_btn {
    font-size: 14px;
    padding: 13px;
  }
  .big p {
    display: none;
  }
  .services-container {
    grid-template-columns: repeat(2, 1fr); /* 2 colonnes */
  }
  /*--  modele serrurerier section --*/
  .row-section {
    grid-template-columns: repeat(2, 1fr); /* ✅ Tablette : 2 colonnes */
  }

  /* contact */
  .contact {
    flex-direction: column;
  }
  .left,
  .right {
    width: 100%;
    margin-bottom: 30px;
  }
  .left h2 {
    font-size: 30px;
  }
  .left .text {
    font-size: 13px;
  }
  .phone-contact {
    margin: 0;
    margin-top: 20px;
  }
  .phone-contact i {
    font-size: 25px;
  }
  .phone-contact a {
    font-size: 18px;
  }
  .right h2 {
    font-size: 20px;
  }
  label {
    font-size: 16px;
  }
  .form-top {
    flex-direction: column;
  }
  /* footer */
  .container {
    flex-wrap: wrap;
  }
  .footer-content {
    width: 50%; /* 2 colonnes */
  }
}

@media screen and (max-width: 768px) {
  .logo {
    width: 100px;
    height: 50px;
    margin-left: 10px;
  }
  /* navbar */
  .links {
    height: 500px;
  }
  .image_box img {
    width: 100%;
    height: auto;
  }

  .services-container {
    grid-template-columns: 1fr; /* 1 colonne sur mobile */
  }
  .owner {
    flex-direction: column; /* image + texte en colonne */
    text-align: center; /* centrer le texte */
  }

  .owner .content_box {
    max-width: 100%; /* occupe toute la largeur */
    padding: 10px; /* un peu d’air autour */
  }
  /*--  modele serrurerier section --*/
  .row-section {
    grid-template-columns: 1fr; /* ✅ Mobile : 1 colonne */
  }
  /*--  homme page section les botton section --*/
  .flex-button {
    flex-direction: column; /* ✅ Mobile : 1 colonne */
  }
  .background {
    height: 50vh; /* encore plus compact sur petit mobile */
   
  }
  .background .text-box {
    right: 10%;
    align-items: center;
    max-width: 300px;
    height: auto;
  }
 
.text-box h3 {
  font-size: 25px;
}
.text-box .white_btn {
  font-size: 12px;
}
.text-box button {
  margin-top: 15px;
}
  .footer-content {
    text-align: center;
    width: 100%; /* 1 seule colonne */
    margin-bottom: 20px;
  }
  .footer-content p {
    width: 100%; /* le texte s’adapte */
  }
}
